<a href="https://colab.research.google.com/github/MohdSajid01/Python_Practice/blob/main/Hashbit_Assignment_01_%26_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q01  Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [ ]:
def sum_of_current_and_previous(n):
    previous_number = 0
    for i in range(1, n + 1):

        current_number = i
        current_sum = current_number + previous_number


        print(f" {i}: {current_number} + {previous_number} = {current_sum}")

        previous_number = current_number
sum_of_current_and_previous(10)

 1: 1 + 0 = 1
 2: 2 + 1 = 3
 3: 3 + 2 = 5
 4: 4 + 3 = 7
 5: 5 + 4 = 9
 6: 6 + 5 = 11
 7: 7 + 6 = 13
 8: 8 + 7 = 15
 9: 9 + 8 = 17
 10: 10 + 9 = 19

# Q02  Write a program to accept a string from the user and display characters that are present at an even index number

In [ ]:
def display_even_index_characters(input_string):
    for i in range(0, len(input_string), 2):
        print(f" {i}: {input_string[i]}")

user_input = input(" ")

display_even_index_characters(user_input)

 50
 0: 5

6# Q03 Write a program to remove characters from a string starting from zero up to n and return a new string

In [ ]:
def remove_characters(input_string, n):
    if n < 0:
        raise ValueError(" ")

    new_string = ""

    for i in range(n, len(input_string)):
        new_string += input_string[i]

    return new_string

input_str = "Hello, World!"
n = 5
result = remove_characters(input_str, n)

print(f" {input_str}")
print(f"(after removing first {n} characters): {result}")

 Hello, World!
(after removing first 5 characters): , World!

#Q04 Write a function to return Ture if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
def first_and_last_same(input_list):
    if not input_list:
        return False
    first_element = input_list[0]
    last_element = input_list[-1]

    return first_element == last_element

my_list = [1, 2, 3, 4, 1]
result = first_and_last_same(my_list)

if result:
    print("True")
else:
    print("False")

True

# Q05 Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [ ]:
def new_list(list1, list2):
    new_list = []

    for num in list1:
        if num % 2 != 0:
            new_list.append(num)

    for num in list2:
        if num % 2 == 0:
            new_list.append(num)

    return new_list

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = new_list(list1, list2)

print("List 1:", list1)
print("List 2:", list2)
print("New List:", result)

List 1: [1, 2, 3, 4, 5]
List 2: [6, 7, 8, 9, 10]
New List: [1, 3, 5, 6, 8, 10]

#Q06  Print multiplication table from 5 to 10

In [ ]:
for i in range(5, 11):
    print(f" {i}:")

    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")

    print()

 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Q07  Write a program to create a new string made of an input string’s first, middle, and last character

In [ ]:
def new_string(input_string):
    length = len(input_string)

    if length < 3:
        return "Input string should have at least 3 characters"

    middle_index = length // 2

    first_char = input_string[0]
    middle_char = input_string[middle_index]
    last_char = input_string[-1]

    new_string = first_char + middle_char + last_char

    return new_string
input_string = input(" ")
result = new_string(input_string)
print("New string:", result)

 5236
New string: 536

# Q08 Write a program to count occurrences of all characters within a string

In [ ]:
def count_characters(input_string):
    char_count = {}
    for char in input_string:
        char_count[char] = char_count.get(char, 0) + 1
    return char_count
input_string = input(" ")
result = count_characters(input_string)
print(" ")
for char, count in result.items():
    print(f"{char}: {count}")

 456

4: 1
5: 1
6: 1

# Q09 Write a program to reverse a given string

In [ ]:
def reverse_string(input_string):
    reversed_string = input_string[::-1]
    return reversed_string
input_string = input(" ")
result = reverse_string(input_string)
print(" ", result)

 12345
  54321

# Q10  Write a program to split a given string on hyphens and display each substring. {ex- Rahul-is-a-doctor}

In [ ]:
def split_and_display(input_string):
    substrings = input_string.split('-')
    print(" ")
    for substring in substrings:
        print(substring)
input_string = input(" ")
split_and_display(input_string)

 i m sajid

i m sajid


#ASSIGNMENT 02

# Q01 Write a program in Python to check given number is prime or not.

In [ ]:
def prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True
user_input = int(input(" "))

if prime(user_input):
    print(f"{user_input} prime number.")
else:
    print(f"{user_input} not prime number.")

 5
5 prime number.

# Q 02  Write a program to print Prime Number in a given range.

In [ ]:
def is_prime(number):
    if number < 2:
        return False

    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False

    return True

def print_prime_numbers_in_range(start, end):
    print(f" range {start} to {end}:")
    for num in range(start, end + 1):
        if is_prime(num):
            print(num, end=" ")

start_range = int(input(" "))
end_range = int(input(" "))

print_prime_numbers_in_range(start_range, end_range)

 2
 10
 range 2 to 10:
2 3 5 7

# Q 03 Remove empty strings from a list of strings. Ex- lst = [“Rahul”,”John”,””,”Karan”,None,”Vishal”,””]

In [ ]:
lst = ["Rahul", "John", "", "Karan", None, "Vishal", ""]
filtered_lst = [item for item in lst if item and item.strip()]

print(" ", filtered_lst)

  ['Rahul', 'John', 'Karan', 'Vishal']

# Q 04 Remove all characters from a string except integers. Ex- str = ‘I am 25 years and 15 months old’

In [ ]:
input_str = 'I am 25 years and 15 months old'
result = ''.join(char for char in input_str if char.isdigit())

print("after removing non-integer characters:", result)

after removing non-integer characters: 2515

# Q05 Write a program to find words with both alphabets and numbers from an input string. Ex- str = ‘Rahul54 is Data Engineer13 and AI Expert

In [ ]:
import re

def words_with_alphabets_and_numbers(input_str):
    pattern = r'\b\w*\d+\w*\b'
    matches = re.findall(pattern, input_str)

    return matches

input_str = 'Rahul54 is Data Engineer13 and AI Expert'
result = words_with_alphabets_and_numbers(input_str)

print(" ", result)

  ['Rahul54', 'Engineer13']

# Q 06 Write a program to find greatest among three integers

In [ ]:
def greatest(num1, num2, num3):
    greatest = max(number1, number2, number3)
    return greatest
number1 = int(input())
number2 = int(input())
number3 = int(input())

result = greatest(number1, number2, number3)
print(f" {number1}, {number2}, and {number3} is: {result}")

40
50
56
 40, 50, and 56 is: 56

# Q 07 Write a program to swap two numbers using third variable

In [ ]:
list =[12, 35, 9, 56, 24]
i=0
j=4
list[i],list[j]=list[j],list[i]
list

[24, 35, 9, 56, 12]

In [ ]:
def swap_numbers(a, b):
    temp = a
    a = b
    b = temp
    return a, b

num1 = float(input(" "))
num2 = float(input(" "))

print("Original values: num1 =", num1, ", num2 =", num2)

num1, num2 = swap_numbers(num1, num2)

print("Swapped values: num1 =", num1, ", num2 =", num2)

 8
 6
Original values: num1 = 8.0 , num2 = 6.0
Swapped values: num1 = 6.0 , num2 = 8.0

# Q 08 Write a program to calculate the power without using POW function using For loop.

In [ ]:
def calculate_power(base, exponent):
    result = 1

    for _ in range(exponent):
        result *= base

    return result

base = float(input("base: "))
exponent = int(input("exponent: "))

result = calculate_power(base, exponent)

print(f"{base} raised to the power of {exponent} is: {result}")

base: 5
exponent: 3
5.0 raised to the power of 3 is: 125.0

# Q 09 Write a program to calculate the power without using POW function using While loop.

In [ ]:
def calculate_power(base, exponent):
    result = 1
    count = 0

    while count < exponent:
        result *= base
        count += 1

    return result
base = float(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))

result = calculate_power(base, exponent)

print(f"{base} raised to the power of {exponent} is: {result}")

Enter the base: 5
Enter the exponent: 2
5.0 raised to the power of 2 is: 25.0

# Q 10 Write a program to calculate LCM of given two numbers.

In [ ]:
def calculate_gcd(x, y):
    while y:
        x, y = y, x % y
    return x

def calculate_lcm(a, b):
    if a == 0 or b == 0:
        return 0
    else:
        return abs(a * b) // calculate_gcd(a, b)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

lcm_result = calculate_lcm(num1, num2)

print(f"LCM of {num1} and {num2} is: {lcm_result}")

Enter the first number: 10
Enter the second number: 20
LCM of 10 and 20 is: 20